/* @font-face{
    font-family: 'Prestage';
    src: ('../../public/fonts/Prestage-Italic.ttf') format('ttf');
    src: ('../../public/fonts/Prestage-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
} */
