@import './assets/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .nav-link{
    @apply flex flex-col items-center text-base text-Title-color transition-all;
  };
  .nav-icon{
    @apply hidden
  };
  .nav-menu{
    @apply fixed -bottom-full left-0 w-screen bg-white shadow-3d px-6 pt-8 pb-16 rounded-t-3xl transition-all ;
  };
  .show-menu{
    @apply bottom-0 w-screen
  };
  .card{
    @apply absolute w-[200px] h-[320px] text-justify bg-white rounded-xl p-5 transition duration-500 left-calc-left top-0
  };
  .prev{
    @apply absolute top-40 text-blue-600 bg-transparent font-bold text-3xl left-[50px] 
  };
  .next{
    @apply absolute top-40 text-blue-600 bg-transparent font-bold text-3xl right-[50px] 
  }
  .contact__form-input{
    @apply absolute top-0 left-0 w-full h-full border-2 border-solid border-black/30 outline-none bg-none rounded-xl p-6 z-10
  }
  .contact__form-tag{
    @apply absolute -top-3 left-5 p-1 text-xs z-20 bg-white text-[hsl()]
  }
  
}

.welcome{
  background-image: url("./assets/Welcome-img.jpg");
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
